<div class="container" style="overflow-y:scroll; height:98%;">
    <div class="customLabelMiniHeader">
        <span>Divisions</span>
    </div>
    <div class="customLabelRight">
        <br />
        <span>            
            Multiple divisions, determined by the rankings on
            <a style="color:white;" href="http://tennisleaguestats.com/admin/2016/Section%20-%20Midwest/Area%20-%20Northwestern%20Ohio/Ratings%20Pages/Perrysburg%20Tennis%20Center%20-%20Menas.htm">TLS</a>,
            and <a style="color:white;" href="https://www.usta.com/Adult-Tennis/USTA-League/ntrp/">NTRP</a>.
        </span>
        <br /><br />
    </div>
    <br />
    <div class="customLabelMiniHeader">
        <span>Season Play</span>
    </div>
    <div class="customLabelRight">
        <br />
        <ul>
            <li style="margin: 10px 0;">Play each division opponent once.</li>
            <li style="margin: 10px 0;">You have 4 weeks to play the first 3 opponents. Then another 4 weeks to play the next 3 opponents, etc.</li>
            <li style="margin: 10px 0;">Recommended dates for matches are every Thursday at 7 PM. If both players agree to a different date and time, that’s just fine.</li>
            <li style="margin: 10px 0;">Recommended place is the PTC. If both players agree to a different location, that’s just fine.</li>
            <li style="margin: 10px 0;">You can play matches as far in advance as you like. For example, if you want to play your week 7 opponent in week 2, go right ahead. Just also make sure that you’re keeping up with your other opponents.</li>
            <li style="margin: 10px 0;">Home team supplies the tennis balls: one new can.</li>
            <li style="margin: 10px 0;">Same match scoring as the USTA league (two sets, tiebreakers, etc.)</li>
        </ul>
        <br />
    </div>
    <br />
    <div class="customLabelMiniHeader">
        <span>Playoffs</span>
    </div>
    <div class="customLabelRight">
        <br />
        <span>Top four from each division play each other (1v4, 2v3). Then those winners play each other for the title.</span>
        <br /><br />
    </div>
    <br />
    <div class="customLabelMiniHeader">
        <span>Division Tiebreakers</span>
    </div>
    <div class="customLabelRight">
        <br />
        <span>
            Head-to-head will be used only in the event of a two-way tie. If there are three or more tied with the
            same win/loss record, then the tiebreakers are: sets won minus sets lost, then games won minus games lost.
        </span>
        <br /><br />
    </div>
    <br />
    <div class="customLabelMiniHeader">
        <span>Dropping Out</span>
    </div>
    <div class="customLabelRight">
        <br />
        <span>If someone drops out during the season, all the matches involving that player are erased. Please don’t drop out.</span>
        <br /><br />
    </div>
</div>