<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TennisLeagueComponents.Properties.Settings.TennisConnectionString"
            connectionString="Data Source=bzl5b9zc8k.database.windows.net;Initial Catalog=Tennis;Persist Security Info=True;User ID=rhorn"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>